.productCard {
    border: 1px solid white;
    width: 250px;
    height: 250px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: grid;
    grid-template-areas: "item1 item4"
                            "item2 item2" 
                            "item3 item3"
                            "item5 item5";
                            
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}

.productCard:hover{
    scale: 1.05;
    box-shadow: 0 0 30px rgb(255, 239, 239);
} 